<p><%= flash[:notice] %></p>
<% form_for :reminder, :url => {:action => :forgot_password } do |f| %>
<p><label for="email">Email Address</label><br/>
<%= f.text_field :email %></p>
<p><%= submit_tag 'Forgot password' %></p>
<% end  %>