Get yourself a new password:

<%= flash[:notice] %>
<% form_for :reset, :url => {:action => :reset_password} do |f| %>
<p><label for="password">Password</label><br/>
<%= f.password_field 'password' %></p>

<p><label for="password_confirmation">Confirm Password</label><br/>
<%= f.password_field 'password_confirmation' %></p>
<%= f.hidden_field :key, :value => params[:id]%>
<p><%= submit_tag 'Reset password' %></p>
<% end %>