<% {"People" => '/', "Resources" => '/resources', "Hiring" => '/hiring'}.each do |nav, link| -%>
  <% if @nav and nav == @nav -%>
    <span class="selected"><%= link_to nav, link -%></span>
  <% else -%>
    <span><%= link_to nav, link -%></span>
  <% end -%>
<% end -%>
