<% candidate = resume_row -%>
<li class="candidate">
  <% if candidate.resume? -%>
    <%= link_to image_tag('page.png'), candidate.resume.url -%>
  <% end -%>
  <%= link_to candidate.name, hiring_candidate_url(candidate) -%>
</li>
