<% candidate = row -%>
<li class="candidate">
  <%= link_to candidate.name, hiring_candidate_url(candidate) -%>
  <% if candidate.comments.size > 0 -%>(<%= candidate.comments.size -%>)<% end -%>
  <% if candidate.status == "accepted" -%>
    <div class="accepted status">ACCEPTED</div>
  <% elsif candidate.status == "rejected" -%>
    <div class="rejected status">REJECTED</div>
  <% end -%>
</li>
