<h1>Listing candidates</h1>

<ul>

<% for candidate in @candidates %>
  <li class="user">
    <div style="font-size: 2em; font-weight:bold;">
      <%= link_to candidate.name, hiring_candidate_path(candidate) -%>
    </div>

    <%= link_to 'Edit', edit_hiring_candidate_path(candidate) %> |
    <%= link_to 'Deleted', hiring_candidate_url(candidate), :confirm => 'Are you sure?', :method => :delete %>
  </li>
<% end %>

</ul>

<br />

<%= link_to 'New candidate', new_hiring_candidate_path %>
