<h1>Listing interviews</h1>

<ul>

<% for interview in @interviews %>
  <li class="user">
    <div style="font-size: 2em;">
      <%= link_to "#{interview.candidate.name} on #{interview.pretty_date}", hiring_interview_path(interview) %>
    </div>
    <%= link_to 'Edit', edit_hiring_interview_path(interview) %> |
    <%= link_to 'Delete', hiring_interview_path(interview), :confirm => 'Are you sure?', :method => :delete %>
  </li>
<% end %>
</ul>

<br />
