<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <title>Blueprint CSS Framework Sample Page</title>

  <!-- Framework CSS -->
        <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="/stylesheets/hiring.css" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print">
  <!--[if IE]><link rel="stylesheet" href="/stylesheets/blueprint/lib/ie.css" type="text/css" media="screen, projection"><![endif]-->

        <!-- Import fancy-type plugin for the sample section. -->
        <link rel="stylesheet" href="/stylesheets/blueprint/plugins/fancy-type/fancy-type.css" type="text/css" media="screen, projection">

        <!-- Show the grid and baseline -->
        <style type="text/css">
        /*<![CDATA[*/
                        /*.container { background: url('blueprint/lib/grid.png'); }*/
        /*]]>*/
        </style>
</head>

<body>

  <div class="container">
    <h1>Michael Nutt</h1>
    <hr/>

    <div class="column span-20">
      <h3 class="alt">Rails Developer</h3>
    </div>

    <div class="column span-4 last">
      <h3>Resume</h3>
    </div>

    <hr/>

    <div class="column span-11 colborder">
      <h4>Progress</h4>

      <div id="hr_statuses">
        <div class="status hired_status">
          <div class="status_wrapper">
            <span class="status_date">Oct 22</span>
            <h5>Hired</h5>
          </div>

          <span class="comments">
            <h6>Comments (<a href="#">+</a>)</h6>
            <div id="comment_1" class="comment">
              <span class="author">Dave:</span>
              <span>Lorem ipsum dolor sit amet, <em>consectetuer adipiscing elit</em>. Nunc congue ipsum vestibulum libero. Aenean vitae justo. Nam eget tellus. Etiam convallis, est eu lobortis mattis, lectus tellus tempus felis, a ultricies erat ipsum at metus.</span>
            </div>
          </span>
        </div>

        <div class="status interview_status">
          <div class="status_wrapper">
            <span class="status_date">Oct 15</span>
            <h5>Interview Complete</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="column span-12 last">
      <h4>Candidate Information</h4>
      <p>This is a wiki-like area.  You may put whatever
        you want here, although it should probably be used
        for miscellaneous information about the candidate
        that does not fit anywhere else.</p>

      <hr />

      <span class="comments">
        <h6>Comments (<a href="#">+</a>)</h6>
        <div id="comment_16" class="comment">
          <span class="author">Dave:</span>
          <span>Lorem ipsum dolor sit amet, <em>consectetuer adipiscing elit</em>. Nunc congue ipsum vestibulum libero. Aenean vitae justo. Nam eget tellus. Etiam convallis, est eu lobortis mattis, lectus tellus tempus felis, a ultricies erat ipsum at metus.</span>
        </div>
        <div id="comment_17" class="comment">
          <span class="author">Jorge:</span>
          <span>Lorem ipsum dolor sit amet, <em>consectetuer adipiscing elit</em>. Nunc congue ipsum vestibulum libero. Aenean vitae justo. Nam eget tellus. Etiam convallis, est eu lobortis mattis, lectus tellus tempus felis, a ultricies erat ipsum at metus.</span>
        </div>
        <div id="comment_18" class="comment">
          <span class="author">Michael:</span>
          <span>Lorem ipsum dolor sit amet, <em>consectetuer adipiscing elit</em>. Nunc congue ipsum vestibulum libero. Aenean vitae justo. Nam eget tellus. Etiam convallis, est eu lobortis mattis, lectus tellus tempus felis, a ultricies erat ipsum at metus.</span>
        </div>
        <div id="comment_19" class="comment">
          <span class="author">Andrew:</span>
          <span>Lorem ipsum dolor sit amet, <em>consectetuer adipiscing elit</em>. Nunc congue ipsum vestibulum libero. Aenean vitae justo. Nam eget tellus. Etiam convallis, est eu lobortis mattis, lectus tellus tempus felis, a ultricies erat ipsum at metus.</span>
        </div>
      </span>
    </div>
  </div>

</body>
</html>


